<div class="container">
        <div class="row">
            <img src="../assets/placeholder.jpeg" width="310" height="310" alt="Chef profile pic"
                style="border-radius: 50%;">

            <div class="col" style="margin:40px">
                <h1>{{first_name}}</h1>
                <p>{{chef_description}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <div class="row" id="dish1">
                        <img src="../assets/taco.png" alt="dish#1" style="width:200px;height:200px; border-radius:50%;">
                        <div class="col" style="margin-left:5px">
                            <h4>Beef Taco</h4>
                            <p>Corn tortilla topped with beef and mixed vegetable filling.</p>
                            <class="form-check-input">
                                <b>Contains: </b>
                                </class>
                                <div class="row toCart">
                                    <button type="button" class="btn btn-dark">Add to
                                        Cart</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body">
                    <div class="row" id="dish">
                        <img src="../assets/taco.png" alt="dish#2" style="width:200px;height:200px; border-radius:50%;">
                        <div class="col" style="margin-left:5px">
                            <h4>Chicken Taco</h4>
                            <p>Corn tortilla topped with chicken and mixed vegetable filling.</p>
                            <class="form-check-input">
                                <b>Contains: </b>
                                </class>
                                <div class="row toCart">
                                    <button type="button" class="btn btn-dark">Add to
                                        Cart</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <div class="row" id="dish1">
                        <img src="../assets/taco.png" alt="dish#1" style="width:200px;height:200px; border-radius:50%;">
                        <div class="col" style="margin-left:5px">
                            <h4>Beef Taco</h4>
                            <p>Corn tortilla topped with beef and mixed vegetable filling.</p>
                            <class="form-check-input">
                                <b>Contains: </b>
                                </class>
                                <div class="row toCart">
                                    <button type="button" class="btn btn-dark">Add to
                                        Cart</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card-body">
                    <div class="row" id="dish">
                        <img src="../assets/taco.png" alt="dish#2" style="width:200px;height:200px; border-radius:50%;">
                        <div class="col" style="margin-left:5px">
                            <h4>Chicken Taco</h4>
                            <p>Corn tortilla topped with chicken and mixed vegetable filling.</p>
                            <class="form-check-input">
                                <b>Contains: </b>
                                </class>
                                <div class="row toCart">
                                    <button type="button" class="btn btn-dark">Add to
                                        Cart</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>