<div>
    <div class="container">
        <div class="row" id="chef"></div>
        <h2 class="chefId" id="{{id}}">WELCOME {{first_name}}</h2>
        <h4>Let's get you started</h4>
    </div>
    <div class="container">
        <div class="row">
            {{!-- Form for chef description --}}
            <div class="col-9 chef-form">
                <div class=" form-group" style="margin-left:-15px">
                    <textarea class="form-control" id="chefBio" rows="11"
                        placeholder="Where are you from? What inspires you to cook?"></textarea>
                </div>
                <button class="btn btn-primary" id="chefFormSubmit">Submit Chef Info</button>
            </div>
            {{!-- ----------------------------- --}}
            {{!-- Form for chef-photo upload --}}
            <div class="col-3 uploadPhoto">
                <p>Upload Your Profile Photo</p>
                <div class="form-group">
                    <form action="/api/chefs/upload" method="POST" enctype="multipart/form-data">
                        <div class="input-group btn btn-default btn-file">
                            <input id="upload" type="file" name="avatar" class="form-control border-0"
                                style="margin-left:-25px; margin-top:-20px" multiple>
                        </div>
                        <img id='chefPhoto' />
                        <div class="row">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {{!-- ----------------------------- --}}
        </div>
            <br></br>
            {{!-- For for dish POST request --}}
        <div class="row">
            <form class=" col-9 dish-form"> 
                <h4 >What's On Your Menu?</h4>
                <div class="row dish">
                    <div class="form-group" style="margin-left:-15px">
                        <label for="inputFirstName">Dish Name</label>
                        <input type="text" class="form-control" id="dishName">

                        <label>Description</label>
                        <textarea class="form-control" id="dishDescription" rows="7"></textarea>

                        <label>Which Cuisine Does This Dish Belong To?</label>
                        <div class="btn-group">
                            <select class="form-select cuisine" id="cuisineId" style="border-radius:5px; color: gray">
                                <option selected></option>
                                <option value="1">American</option>
                                <option value="2">Asian</option>
                                <option value="3">Mexican</option>
                                <option value="4">Indian</option>
                                <option value="5">Mediterranean</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="meat" value="option1">
                    <label class="form-check-label">Has Meat</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="gluten" value="option2">
                    <label class="form-check-label">Has Gluten</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="dairy" value="option2">
                    <label class="form-check-label">Has Dairy</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="nuts" value="option2">
                    <label class="form-check-label">Has Nuts</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="shellfish" value="option2">
                    <label class="form-check-label">Has Shellfish</label>
                </div>

                <button class="btn btn-primary" id="dishFormSubmit">Submit dish info</button>
            </form>
            {{!-- ----------------------------- --}}
            {{!-- Form fro uploading dish photos --}}
            <div class="col-3 uploadDishPhoto">
                <div class="form-group">
                    <p>Upload Dish Photo</p>
                    <form action="/api/dishes/uploadDish" method="POST" enctype="multipart/form-data">
                        <div class="input-group btn btn-default btn-file">
                            <input id="upload" type="file" name="avatar" class="form-control border-0"
                                style="margin-left:-25px;" multiple>
                        </div>
                        <img id='dishPhoto'/>
                        <div class="row">
                            <button>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            {{!-- ----------------------------- --}}
        </div>
            
    </div>
    <br><br>
    <div class="row">
        <a class="btn btn-dark" href="/chef-page">Visit Chef Page</a>
    </div>
</div>

<script src="/js/chef-form.js"></script>
<script src="/js/dish-form.js"></script>
