<div class="container">
    <div class="row" id="chefs"></div>
    <h2>LOGIN</h2>
</div>


<div class="container">
    <form class="form login-form">
        <div class="form-row">
            <div class="form-group col-md-5">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">

                <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                <button type="submit" id="loginBtn" class="btn btn-dark">Login</button>

                <br></br>
                <p class="form_text">
                    <a href="#" class="form_link">Forgot your password?</a>
                </p>

                <h4>Don't have an account?</h4>
                <a class="btn btn-secondary" href="/chef-signup">Create New Chef Account</a>
                <a class="btn btn-secondary float-right" href="/foodie-signup">Create New Foodie Account</a>
            </div>

            <div class="col-md-4">
                <img src="../../assets/taco.gif" alt="tripping taco" style="width:500px;height:350px;">
            </div>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>

