.hero-image{
    position: relative;
    height: 350px;
    overflow: hidden;
    background: url(../assets/background_pic.jpg) no-repeat center;
    background-size: cover;
}

.logo {
    margin-top: 100px;
    margin-bottom: 30px;
    overflow: hidden;
    color:white;
}

.row {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom:10px;
}  

.form-box {
    display: flex; 
    margin-right: 5px;
    border-color: dimgrey;
}

.form-control {
    margin-bottom: 15px;
}

.btn-group {
    margin-left: 5px;
    margin-right: 5px;
}

.search-box {
    display: flex; 
    margin-right: 5px;
    border-width: thin;
    border-radius: 5px;;
    border-color: dimgrey;
    text-align: center;
}

.search {
    border-radius: 5px;
    background-color: black;
    color: white;
    border-color: black;
    margin-left: 5px;
}

.copyright{
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background: url(../assets/footer.jpg) no-repeat center;
    background-size: cover;
}

#chefs,#dishes{
    justify-content: space-around;
}

#chefPhoto,#dishPhoto{
    border:1px solid black;
    border-radius: 50%;
    height:10rem;
    width:10rem;
}

#chefPhoto:hover,#dishPhoto:hover{
    border:2px solid black;
    cursor: pointer;
}

#chefName,#dishName{
    text-align: center;
}
